*{
	margin: 0;
	padding: 0;
}
.box{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
/*-------------nav-------------------*/
nav{
	background-color: #000000;
	padding-right: 20px;
	z-index:100;
}
.logo{
	width: 30px;
	height: 30px;
	margin: 10px 80px 10px 30%;
	float:left;
}
.clear{
	clear:both;
}
/*.l1{
	margin-left: 60px;
	height: 50px;
	line-height: 50px;
}*/
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
/*li{
	float:left;
}*/
.li1{
	height: 50px;
	line-height: 50px;
	float:left;
}
a:link,a:visited{
	display:block;
	width:120px;
	text-align:center;
	text-decoration:none;
	z-index: 100;
}
a:hover,a:active{
	background-color:#333333;
}
.subnav{
	background-color: #333333;
	color: #ffffff;
	width:120px;
	z-index: 100;
	visibility: hidden;
}
#nav2:hover #sub1{
	visibility: visible;
} 
#nav3:hover #sub2{
	visibility: visible;
} 
#nav4:hover #sub3{
	visibility: visible;
} 
.subli{
	z-index:100;
}
.subnav > li{
	background-color: #333333;
	color: #000000;
	width:120px;
	height:30px;
	line-height: 30px;
	text-align: center;
	z-index: 100;
}
a{
	text-decoration: none;
	color: #9d9d9d;
}
.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent; 
	border-left: 4px solid transparent;
	color: #9d9d9d;
}
/*----------long pic---------------*/
.long{
	width: 100%;
	background-color: #2D7079;
}
.left{
	width: 50%;
	height:159px;
	background-image: url(../img/left.png);
	position:relative;
	z-index: -1;
}
.right{
	width:50%;
	background-image: url(../img/right.png);
	background-repeat: no-repeat;
	height:209px;
	z-index: -1;
}
.hello{
	position: absolute;
	color: #FFFFFF;
	font-size: 32px;
	top: 120px;
	left: 100px;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 2;
}
#hello{
	margin-top: 5px;
	top: 70px;
}
.product{
	position: absolute;
    color: #FFFFFF;
    font-size: 44px;
    top: 160px;
    left: 100px;
    z-index: 2;
}

.center{
	width:80%;
	margin:0 auto;
	z-index: 1;
}
#banner { 
	margin:20px 0 10px 0;
	padding: 0px; 
	width:100%; 
	display:block; 
	overflow:hidden;
	z-index:0;
}
.libar{
	width:100%;
}
.slides { 
	margin: 0px auto; 
	width:100%; 
	overflow: hidden; 
	position: relative; 
}
#slide{width:100%;}
.slide-pic {
	margin: 0px; 
	padding: 0px; 
	width:100%; 
	overflow: hidden; 
	list-style: none; 
}
#leftarrow{
	position:absolute; 
	top:45%; 
	left:3px;
	}
#rightarrow{
	position:absolute;
	top:45%; 
	right:3px;
}
.slide-pic img {
	/*height:100%;*/ 
	width:100%; 
	margin:0 auto;
	border:3px solid #A3A2A1;
}
.pic{
	width:100%;
}
.slide-pic li { 
	display: none; 
}
.slide-pic li.cur { 
	display: block; 
}
.slide-txt span { 
	display: none; 
}
.ban-bot{
	width:100%; 
	height:32px; 
	background:#464646;
	}
.ban-bot span a{
	color:#fff; 
	font-weight:bold;
	font-size:15px; 
	padding-left:25px; 
	margin-left:20px;
	}
.ban-bot span  a:hover{
	color:#666;
}
/*-----------three column-----------*/
.tab-bar{
	width:100%;
}
.three-column{
	margin: 20px auto;
}
.column1{
	margin-right:20px;
}
.no{
	font-size: 48px;
	margin: 20px 20px 40px 0;
	font-weight: 500;
}
.grey{
	font-size: 24px;
	color: #C4C4C4;
}
.pic{
	width: 70px;
    height: 70px;
    margin: 10px 10px 0 0;
    float:right;
}
.para{
	font-size: 16px;
}
/*----------tab----------*/
.tab-bar{
	justify-content: space-between;
}
.tab{
	text-align: center;
	width:25%;
	height: 40px;
	line-height: 40px;
	padding:10px 20px;
	margin-top: 20px;
	font-size: 18px;
	border-bottom: 1px solid #CCCCCC;
    border-radius: 4px 4px 0 0;
}
.active{
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: none;
}
#tab1, #tab3, #tab4{
	display: none;
}
/*--------table-----------*/
caption{
	color: #000;
    font-size: 24px;
    margin: 10px 0;
    padding-top: 8px 0;
    text-align: left;
}
thead tr th:nth-child(odd), tbody tr td:nth-child(odd){
    background: #eee;
}
thead tr th, tbody tr td{
	width:25%;
	text-align:center;
}
tbody tr td:nth-child(2), tbody tr td:nth-child(3), tbody tr td:nth-child(4){
	text-align: left;
}
td{
	padding:10px;
}
/*------bottom-----------*/
.bottom{
	margin-top: 20px;
}
.input-group{
	width:50%;
	background-image: url(../img/left2.png);
	background-repeat: no-repeat;
}
.handshake{
	width:50%;
}
.input{
	margin-bottom: 10px;
	margin-left:20px;
    width: 200px;
    height: 30px;
    font-size: 12px;
}
.input-group select:nth-child(1){
	margin-top: 20px;
}
.btn{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(rgba(113,168,232,0.5)));
    width: 80px;
    height: 30px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 5px;
    border:none;
}

footer{
	text-align: center;
    color: #757575;
    font-size: 14px;
    margin-top: 20px;
}
